*{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

body{
    box-sizing: border-box;
    font-family: 'Roboto', 'Sans serif';
    background: rgb(6, 19, 45);
    line-height: 1;
}

main{
    display: flex;
    flex-direction: row;
}

header{
    display: flex;
    width: 70%;
    height: auto;
    margin-top: 4em;
    margin-left: 4em;
    margin-right: 0;
}

header img{
    width: 3%; 
}

a {
    text-decoration: none;
    color: rgb(255, 213, 0);
    outline: none;
    display: inline-block;
    transition: transform .3s;
}

a:link, a:visited, a:focus {
    background: transparent;
} 

a:hover {
    transform: scale(1.3);
}

.encrypt{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: 1em;
}

.text-area{
    margin-top: 7%;
    width: 80%;
    height: 50%;
    border: none;
    font-size: 1.5em;
    padding: 1em;
    color: #fff;
    background-color: transparent;
    place-content: #f4f4B4;
    margin:auto;
    resize: none;
    outline: none;
}

.text-area::placeholder{
    color: grey;
}

.alert{
    display: flex;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 0;
    justify-content: center;
}

.alert p{
    width: 100%;
    color: rgb(205, 190, 113);
    text-align: center;
    font-size: 1.2em;
}

.alert p::before{
    content: url(../img/alert.svg);
    padding-right: 1em;
}

.btn-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    margin-top: 2%;
    justify-content: center;
}

.btnE, .btnD{
    display: inline;
    width: 22em;
    height: 2.5em;
    background-color: rgb(255, 213, 0);
    border: none;
    border-radius: 1.2em;
    margin-right: 3em;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1em;
    box-shadow: 1px 2px 2px rgba(38, 38, 35, 1);
}

.btnD{
    background-color: rgba(205, 175, 9, 1);
    margin-right: 0;
    border: 2px solid rgba(46, 41, 15, 1);
}

.tab{
    display: flex;
    flex-direction: column;
    width: 25%;
    min-height: auto;
    background-color: rgb(5, 30, 60);
    justify-content: start;
    align-items: center;
    align-content: center;
    margin-top: -5em;
    margin-right: 1em;
    border-radius: 1em;
    text-align: center;
    height: 90vh;
}

.img-container img{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50%;
    justify-content: center;
    align-items: center;
}

.text-nothing{
    padding: 1em;
    color: #fff;
    font-size: 1.4em;
    font-weight: bold;
}

#titler{
    margin-top: 1em;
    color: #fff;
    font-weight: bold;
    font-size: 1.8em;
    border-bottom: 1px solid #fff;
}

#result{
    display: flex;
    color: #fff;
    width: 90%;
    font-size: 1.5em;
    padding: 0.5em;
    border: none;
    height: 90%;
    background-color: transparent;
    place-content: rgb(184, 175, 71);
    margin: auto;
    resize: none;
    outline: none;
    margin-top: 2em;
}

.btnCopy{
    display: inline;
    width: 90%;
    height: 5em;
    background-color: rgba(205, 175, 9, 1);
    border: none;
    border-radius: 1.2em;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10em;
    box-shadow: 1px 2px 2px rgba(38, 38, 35, 1);
}

footer .made{
    width: auto;
    margin-top: 0.5em;
    padding: 0.5em;
    color: #fff;
    text-align: center;
    height: 5px;
}

.machine{
    color: rgb(255, 213, 0);
    padding: 0.5em;
    text-align: center;
}

@media only screen and (max-width: 700px){
    main{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    header img{
        width: 10%;
    }

    .btn-container{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 2em;
        width: 95%;
    }

    .btnE, .btnD{
        width: 100%;
        margin: auto;
        margin-bottom: 2em;
    }

    .text-area{
        font-size: 100%;
        margin: 0;
        margin-top: 10%;
        width: 100%;
    }

    .tab{
        margin: auto;
        width: 90%;
        height: auto;
    }

    .tab img{
        display: none;
        margin: none;
    }

    .btnCopy{
        width: auto;
        height: auto;
        margin: auto;
    }

    #result{
        height: auto;
        margin: 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}